@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}
/* FOTO */

.foto {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 200px;
    padding: 3px 90px;
    transition: .5s ease-in-out;
}

.foto2 {
    width: 30vw;
    border-radius: 280px 180px;
}

/* HEADER */

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
    background-image: url(https://wallpapercave.com/wp/wp5315393.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0px 130px;
    position: relative;
}

h1{
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 8px;
    transition: .5s ease-in-out 0s;
}

h2{
    padding: 3px 185px;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
}
h3{
    padding: 3px 96px;
    /* font-size: 5px; */
    text-transform: uppercase;
    display: flex;
}

a:hover{
    background-color:rgba(67, 35, 211, 0.418);
}


/* MÍDIAS SOCIAIS */

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    font-size: 90px;
    text-decoration: none;
    color: black;
    padding: 1rem 0rem;
    border: 1px solid black;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 120px;
    font-size: 15px;
    letter-spacing: 0px;
    

}

/* MENU */
.menu-items ul {
    position:absolute;
    top: 1px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.menu-items ul li{
    display: inline;    
}

.menu-items ul li a{
    padding: 3px 90px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 9px;
    justify-content: center;
    align-items: center;
    min-width: 4rem;
    color: black;
    padding: 1rem 4rem;
}

.menu-items ul li a:hover{
    padding: 3px 90px;
    transition: .5s ease-in-out;
}


