*{margin: 0; padding: 0;}

header{
    padding: 20 px;
    text-align: center;
}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#16052427;
    list-style:none;
}
#menu ul li { display: inline; }
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    /* background-color:#16052427; */
    color: rgb(231, 188, 241);
    text-decoration: none;
    border-bottom:3px solid #16052427;

    transition: background-color 1s , color 1s , border-bottom 1s;
    transition-timing-function: ease-out;

}
#menu ul li a:hover {
    background-color:#aa7ceed3;
    color: #46065a;
    border-bottom:3px solid #c300ff;
}


#logo {
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* opacity: 0.5; */
}



div.recepcao1 {
    height: 10em;
    position: relative }
div.recepcao1 p {
    margin: 0;
    background: rgba(7, 8, 77, 0.26);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

#recepcao {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}



body{
    /* background-color: #dfc2ed; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvtucjA40pe8KTghQwRTRnaX4mqiHr1I_xGQ&usqp=CAU);
    background-size: cover;
    /* opacity: 100%; */

}

#redes ul {

}
#redes ul li { display:inline;}





.imagem1{
    height: 30px;
}
.imagem2{
    height: 30px;
}
.imagem3{
    height: 30px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
}