/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    border: none;
    border-bottom: 2px solid black ;
}

button:focus {
    color: white;
}

img {
    width: 100px;
}

/* div>p:first-child {
    display: inline;
    margin-top: 100px;
    text-align: center; */
}

div img {
    background: black;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    /* text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: 15px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    

}

#container-de-descricao>p {
    padding: 100px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 190px
}

#container-de-descricao>ol {
    /* padding: 15px 0px; */
    margin-top: -90px;
    padding: 0px 00px;
    margin-left: auto;
    margin-right: auto;
    width: 190px
}
#container-de-descricao>h3{
    
}


#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    /* width: 60%; */
    padding: 5px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

table td {
    margin-left: auto;
    margin-right: auto;
    width: 190px
}




#camiseta{
    width: 60px
}
#jeans{
    width: 60px
}
#chinelo{
    width: 60px
}


td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}
#lupa{
    width: 15px;
}

#botaoCamiseta:hover{
    background-color: #b39d47;
    color: #ffff;
}
#botaoJeans:hover{
    background-color: #b39d47;
    color: #ffff;
}
#botaoChinelo:hover{
    background-color: #b39d47;
    color: #ffff;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
}

#back-button:hover {
    background-color: #635a3d
}